# **1-How to find the version:**

In [ ]:
import pandas as pd
pd.__version__

In [ ]:
#another way
pd.show_versions()

# **2-Make a dataframe:**

In [ ]:
pd.DataFrame({'colon1': [1,2,3],'colon2':[4,5,6]})

In [ ]:
mycolumn=pd.DataFrame({'A':['khizar','Ahmar','Shaheer'],'B':['pass 70','pass 80','pass 90']})
mycolumn

In [ ]:
mycolumn.head()

#### **numpy array use to create dataframe:**

In [ ]:
import numpy as np
arr = np.array([[1,2,3],[4,5,6],[7,8,9]]) # 3d array
arr

In [ ]:
import numpy as np
arr = np.array([[1,2,3],[4,5,6],[7,8,9]]) # 3d array
pd.DataFrame(arr)

#### **Numpy array dataframe**

In [ ]:
pd.DataFrame(np.random.rand(6,4))

In [ ]:
pd.DataFrame(np.random.rand(6,4), columns=list('ABCD'))

# 3- How to Rename Columns

In [ ]:
mycolumn=pd.DataFrame({'A':['khizar','Ahmar','Shaheer'],'B':['pass 70','pass 80','pass 90']})
mycolumn

In [ ]:
mycolumn.rename(columns={'A':'Name','B': 'Grades'}, inplace=True)
mycolumn

In [ ]:
#other method to rename:::
mycolumn.columns=['Name of Student','Pass/Percentage']
mycolumn

In [ ]:
# ro replace any character ,string
mycolumn.columns=mycolumn.columns.str.replace('/',' and ')
mycolumn

In [ ]:
# Adding prefix to cloumns
# mycolumn.add_prefix('..')
mycolumn=mycolumn.add_prefix('..')
mycolumn

# **4-Using Template Data:**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns


kashti = sns.load_dataset('titanic') # titanic dataset is already stored in the sns library and we can use it for practice
kashti.head(10)

In [ ]:
# describe the data
kashti.describe()

In [ ]:
# columns
kashti.columns

### **Saving Data to Different files:**

In [ ]:
# saving a dataset
kashti.to_csv('titanic.csv') # or to any other extension

In [ ]:
# saving to exel or other file type etc
kashti.to_excel('titanic.xlsx')

# **5- Using Our Own Data(Primary data):**

In [ ]:
import pandas as pd
df= pd.read_excel('titanic.xlsx')
df.head(6)

# **6-Reverse Row Order::**

In [ ]:
import seaborn as sns
import pandas as pd
df = sns.load_dataset('titanic')
df.head(4)
# df = pd.read_csv('titanic.csv')
# df.head(5)
# to reverse the rows
df.loc[::-1].head()     # jab rows hi ulti ho jaey to uski head aur tail bhi change ho jati

In [ ]:
# for resetiing index no from side
df.loc[::-1].reset_index(drop=True).head()

# **7-Reverse Column Order:**

In [ ]:
df.loc[:,::-1].head(5)

# **8-Select A Column by dtype:**

In [ ]:
df.dtypes

In [ ]:
# only select those have numeric data type
df.select_dtypes(include=['number']).head()

In [ ]:
# only select those have object data type
df.select_dtypes(include=['object']).head()

In [ ]:
# only select those have multiple data types
df.select_dtypes(include=['number','object']).head()

In [ ]:
# only exclude those dtype that we want
df.select_dtypes(exclude=['number','object']).head(2)

# **9- Convert Strings To Numbers**:

In [ ]:
df= pd.DataFrame({'A':['1.3','2','3','4','5',6 , 7 ,8 ,9],'B':['11','12','13','14','15',16 , 17 ,18 ,19]})
df

In [ ]:
df.dtypes

In [ ]:
# two methods::
df.astype({'A':'float64', 'B':'int64'}).dtypes  # this one  is more prominent

In [ ]:
# pd.to_numeric(df['A'],errors='coerce')
pd.to_numeric(df['B'],errors='coerce')

# **10- Reduce Dataframe Size::**

In [ ]:
df=sns.load_dataset('titanic')
df.shape

In [ ]:
df.sample(frac=0.5).shape
df.info()

# **11- Copy Data From Clip Board:**

In [ ]:
# dataset download
import seaborn as sns
import pandas as pd

df= sns.load_dataset('titanic')
df.to_excel('Kashti.xlsx')

In [ ]:
# read clipboard in python
df = pd.read_clipboard()    # pehle data copy karna hota hai
df

# **12- Split Data Sets into two subsets:**

In [ ]:
import seaborn as sns
import pandas as pd
df= sns.load_dataset('titanic')
df.to_excel('Kashti.xlsx')
df.head()

In [ ]:
len(df)

In [ ]:
df.shape

In [ ]:
kashti_1 =df.sample(frac=0.5, random_state=1)
kashti_1.shape

In [ ]:
kashti_2 =df.drop(kashti_1.index)
kashti_2.shape

In [ ]:
kashti_1.head()

In [ ]:
kashti_2.head()

In [ ]:
len(kashti_1)+ len(kashti_2)

# **13- Join Two Data Frames:**

In [ ]:
import pandas as pd
df1= kashti_1.combine_first(kashti_2)       #append is removed from pandas so we use combine_first instead
df1.shape

# **14- Filtering A Dataset:**

In [ ]:
df.head()

In [ ]:
df.sex.unique()

In [ ]:
df[df.sex=="male"].head()

In [ ]:
df.age.unique()

In [ ]:
df.embark_town.unique()

In [ ]:
df[(df.embark_town=='Cherbourg')]

In [ ]:
df[(df.embark_town=='Cherbourg') & (df.sex=="female")].head(9)

In [ ]:
df[(df.embark_town=='Cherbourg')  & (df.sex=="female") | (df.embark_town=='Queenstown') & (df.sex=="female")].head(9)

**Short Assignment:**

pick up males of cherbourg about 30 and below 60 and then save it in exel

In [ ]:
df=df[(df.age>=30)&(df.age<=60)&(df.embark_town=='Cherbourg')&(df.sex=='male')]
df.to_excel('extracted data from titanic.xlsx')

# **15- Filtering By Large Categories:**

In [ ]:
df = sns.load_dataset('titanic')
df.embark_town.value_counts()

In [ ]:
df.sex.value_counts()

In [ ]:
df.age.value_counts().nlargest(4)

In [ ]:
df.age.value_counts().nlargest(4).index

In [ ]:
counts = df.age.value_counts()
counts.nlargest(3)

In [ ]:
counts = df.who.value_counts()
counts.nlargest(3)  #is mei largest find to ho jaetei hai lekin baghair table ke
                         #jab ke agr yahi data largest ka hamei chahiye ho to us ke lia ham ne niche wala method use karna hoga
# df[df.who.isin(counts.nlargest(3).index)].head(2)

In [ ]:
df = sns.load_dataset('titanic')
counts= df.embark_town.value_counts().nlargest(2)
df[df.embark_town.isin(counts.nlargest(3).index)].head(9)

# **16-Spliting a String into multiple Columns:**

In [ ]:
# import libraries
import pandas as pd

df=pd.DataFrame({'name':['Shaheer Ali','UbaidUllah Ali','Maaz Ali','Usama Ali', 'Zeeshan ALi', 
                         'Talha Ali'],'Location':['Mansehra,Pakistan','Mansehra,Pakistan','Swat,Pakistan','Swat,Pakistan','Swat,Pakistan','Swat,Pakistan']})
df

In [ ]:
df.name.str.split(' ',expand=True)

In [ ]:
df.loc[::-1,::-1].reset_index()         # practice

In [ ]:
df.loc[:,::-1]          # practice

In [ ]:
df[["First Name","Last Name"]] = df.name.str.split(' ',expand=True)
df

**Short Assignment No 2:**

I have to separate the location as city , and country

In [ ]:
df[["City","Country"]] = df.Location.str.split(',',expand=True)
df

In [ ]:
# Refine Data manupulation:

df=df[['name','First Name','Last Name','City','Country']]
df

# **17- Aggregate by multiple Groups/Functions:**

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns

# import dataset

df=sns.load_dataset('titanic')

In [ ]:
df.groupby('who').count()

In [ ]:
df.groupby('who').sum() # not working

In [ ]:
df.groupby('sex').count()

In [ ]:
len(df.groupby('alive'))        # to know that how many categories present

In [ ]:
df.groupby(['sex','alive','who','embark_town']).count()

In [ ]:
df.groupby(['sex','pclass','embark_town']).count()

# **18- Select Specific Rows and Columns:**

In [ ]:
df.head()

In [ ]:
#select columns
df[['sex','class']]

In [ ]:
# select rows
df.describe().loc[['min','25%','50%','75%','max']]

In [ ]:
# select rows (second method)
df.describe().loc['min':'max']

In [ ]:
# select specific rows and columns method:1
df.describe().loc['min':'max',['survived','age']]

In [ ]:
# select specific rows and columns method:2
df.describe().loc['min':'max','survived':'sibsp']

In [ ]:
df.survived.mean()

In [ ]:
df.groupby('who').survived.mean()

In [ ]:
df.groupby(['who','class']).survived.mean()

In [ ]:
# df.groupby(['who','class']).survived.mean().unstack() # not working

# **20- Continuos to catogirical data conversion**

In [ ]:
df.head()

In [ ]:
df.age.head()

In [ ]:
#creating bins
pd.cut(df.age , bins = [0, 18, 25, 35, 50, 99] , labels=['child','young','young adult','adult','old'])
df['new_age'] = pd.cut(df.age , bins = [0, 18, 25, 35, 50, 99] , labels=['child','young','young adult','adult','old'])
df.head(9)

# **21- Convert one set of data into other:**

In [ ]:
df.sex.head()

In [ ]:
df.sex.map({'male':0,'female':1}).head()  # to give values to male and female and the values will be showed

In [ ]:
df['sex_num']= df.sex.map({'male':0,'female':1})
df.head()

In [ ]:
df.embarked.head()

In [ ]:
df.embarked.count()

In [ ]:
df.embarked.unique()

In [ ]:
df['embarked_num'] = df.embarked.factorize()[0]
df.head(15)

# **22- Transpose a Wide Dataframe:**

In [ ]:
#tanspose ka matlab hai rows ko column aur column ko rows me convert karna
import numpy as np
import pandas as pd

In [ ]:
# creating a new dataframe
df = pd.DataFrame(np.random.rand(200,25) , columns=list('abcdefghijklmnopqrstuvwxy'))
df.head()

In [ ]:
# if we have to transpose above the table
df.head(10).T    #transpose bohot zyada use hota hai

# **23-Reshaping A DataFrame:**

In [ ]:
fasla = pd.DataFrame([['12345',100,200,300],['34567',400,500,600],['67890',700,800,900]],
                     columns= ['zip','factory','warehouse','retail'])
fasla.head()

In [ ]:
fasla.melt(id_vars='zip',var_name='location_type',value_name='distance')

In [ ]:
sns.barplot(x='zip',y='factory',data=fasla)  # example of how non reshape data shows in plot

In [ ]:
# fasla.head().T

In [ ]:
fasla2 = pd.DataFrame([[1,'12345','factory',30000],[2,'34567','warehouse',46000]], columns=['user_id','zip','location_type','salary'])
fasla2.head()

In [ ]:
fasla2_long= fasla2.melt(id_vars='user_id',var_name='Location',value_name='User Details')
fasla2_long.head(6)

In [ ]:
sns.barplot(y="user_id",x="User Details",hue="Location",data=fasla2_long)

### **Practice For Point _ 23:**

___

In [ ]:
item = pd.DataFrame([['Mouse',100,200,300],['Keyboard',400,500,600],['Hard_disk',700,800,900]],
                     columns= ['Item','factory_Price','Warehouse_Price','Retail_Price'])
item.head()

In [ ]:
sns.barplot(x='Item',y='Retail_Price',data=item)

In [ ]:
item_long=item.melt(id_vars='Item',var_name='location_type',value_name='Price')

In [ ]:
sns.barplot(x='Item',y='Price',hue='location_type',data=item_long)